<div class="mt-4">
  <div class="container">
    <!--Start code-->
    <div class="row">
      <div class="col-12 pb-5">
        <!--SECTION START-->
        <section class="row">
          <!--Start slider news-->
          <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
            <div
              id="featured"
              class="carousel slide carousel"
              data-ride="carousel"
            >
              <!--dots navigate-->
              <div class="carousel-indicators top-indicator">
                <button
                  type="button"
                  data-bs-target="#featured"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 0"
                ></button>
                <button
                  type="button"
                  data-bs-target="#featured"
                  data-bs-slide-to="1"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#featured"
                  data-bs-slide-to="2"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#featured"
                  data-bs-slide-to="3"
                  aria-label="Slide 3"
                ></button>
              </div>

              <!--carousel inner-->
              <div class="carousel-inner">
                <!--Item slider-->
                <div class="carousel-item active">
                  <div class="card border-0 rounded-0 text-light overflow zoom">
                    <div class="position-relative">
                      <!--thumbnail img-->
                      <div class="ratio_left-cover-1 image-wrapper">
                        <a href="#">
                          <img
                            class="img-fluid w-100"
                            src="https://pa1.narvii.com/6692/9c207ce904df7346b1086532e3a68615890b331d_hq.gif"
                            alt="#"
                          />
                        </a>
                      </div>
                      <div
                        class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                      >
                        <!--title-->
                        <a href="#">
                          <h2 class="h3 post-title text-white my-1">
                            Bootstrap 4 template news portal magazine perfect
                            for news site
                          </h2>
                        </a>
                        <!-- meta title -->
                        <div class="news-meta">
                          <span class="news-author"
                            >by
                            <a class="text-white font-weight-bold" href="#"
                              >Jennifer</a
                            ></span
                          >
                          <span class="news-date">Oct 22, 2019</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Item slider-->
                <div class="carousel-item">
                  <div class="card border-0 rounded-0 text-light overflow zoom">
                    <div class="position-relative">
                      <!--thumbnail img-->
                      <div class="ratio_left-cover-1 image-wrapper">
                        <a href="#">
                          <img
                            class="img-fluid w-100"
                            src="https://bootstrap.news/source/img4.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div
                        class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                      >
                        <!--title-->
                        <a href="#">
                          <h2 class="h3 post-title text-white my-1">
                            Walmart shares up 10% on online sales lift
                          </h2>
                        </a>
                        <!-- meta title -->
                        <div class="news-meta">
                          <span class="news-author"
                            >by
                            <a class="text-white font-weight-bold" href="#"
                              >Jennifer</a
                            ></span
                          >
                          <span class="news-date">Oct 22, 2019</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Item slider-->
                <div class="carousel-item">
                  <div class="card border-0 rounded-0 text-light overflow zoom">
                    <div class="position-relative">
                      <!--thumbnail img-->
                      <div class="ratio_left-cover-1 image-wrapper">
                        <a href="#">
                          <img
                            class="img-fluid w-100"
                            src="https://bootstrap.news/source/img3.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div
                        class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                      >
                        <!--title-->
                        <a href="#">
                          <h2 class="h3 post-title text-white my-1">
                            Bank chief warns on Brexit staff moves to other
                            company
                          </h2>
                        </a>
                        <!-- meta title -->
                        <div class="news-meta">
                          <span class="news-author"
                            >by
                            <a class="text-white font-weight-bold" href="#"
                              >Jennifer</a
                            ></span
                          >
                          <span class="news-date">Oct 22, 2019</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Item slider-->
                <div class="carousel-item">
                  <div class="card border-0 rounded-0 text-light overflow zoom">
                    <div class="position-relative">
                      <!--thumbnail img-->
                      <div class="ratio_left-cover-1 image-wrapper">
                        <a href="#">
                          <img
                            class="img-fluid w-100"
                            src="https://bootstrap.news/source/img4.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div
                        class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                      >
                        <!--title-->
                        <a href="#">
                          <h2 class="h3 post-title text-white my-1">
                            The world's first floating farm making waves in
                            Rotterdam
                          </h2>
                        </a>
                        <!-- meta title -->
                        <div class="news-meta">
                          <span class="news-author"
                            >by
                            <a class="text-white font-weight-bold" href="#"
                              >Jennifer</a
                            ></span
                          >
                          <span class="news-date">Oct 22, 2019</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end item slider-->
              </div>
              <!--end carousel inner-->
            </div>

            <!--navigation-->
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#featured"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#featured"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!--End slider news-->

          <!--Start box news-->
          <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
            <div class="row">
              <!--news box-->
              <div class="col-6 pb-1 pt-0 pr-1">
                <div class="card border-0 rounded-0 text-white overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img
                          class="img-fluid"
                          src="https://64.media.tumblr.com/503afb4e3403b4c16630c656c04bb14b/tumblr_ob9qh4rt2z1su8acao1_540.gifv"
                          alt=""
                        />
                      </a>
                    </div>
                    <div
                      class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                    >
                      <!--title-->
                      <a href="#">
                        <h2 class="h5 text-white my-1">
                          Should you see the Fantastic Beasts sequel?
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!--news box-->
              <div class="col-6 pb-1 pl-1 pt-0">
                <div class="card border-0 rounded-0 text-white overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="https://www.youtube.com/watch?v=a2jIlFxnsY0">
                        <img
                          class="img-fluid resize"
                          src="https://i.blogs.es/c5523d/ceb6930a786a811117750c4d21f334bd1645191566_main/1366_2000.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div
                      class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                    >
                      <!--title-->
                      <a href="#">
                        <h2 class="h5 text-white my-1">
                          Jujutsu Kaisen 0 llegará a latino américa
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!--news box-->
              <div class="col-6 pb-1 pr-1 pt-1">
                <div class="card border-0 rounded-0 text-white overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="https://www.instagram.com/lanarhoades/" target="_blank">
                        <img
                          class="img-fluid resize"
                          src="https://pbs.twimg.com/media/EU8n-h6WoAITYk8.jpg"
                          alt=""
                          width="418px"
                          height="100px"
                        />
                      </a>
                    </div>
                    <div
                      class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                    >
                      <!--title-->
                      <a href="https://www.instagram.com/lanarhoades/" target="_blank">
                        <h2 class="h5 text-white my-1">
                            Lana Rhoades • Instagram photos and videos
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!--news box-->
              <div class="col-6 pb-1 pl-1 pt-1">
                <div class="card border-0 rounded-0 text-white overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="https://areajugones.sport.es/anime/estos-son-los-mejores-animes-de-2022/" target="_blank">
                        <img
                          class="img-fluid resize"
                          src="https://areajugones.sport.es/wp-content/uploads/2022/01/mejor-anime-2022.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div
                      class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow"
                    >
                      <!--title-->
                      <a href="https://areajugones.sport.es/anime/estos-son-los-mejores-animes-de-2022/" target="_blank">
                        <h2 class="h5 text-white my-1">
                            Estos son los mejores animes de 2022
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--end news box-->
            </div>
          </div>
          <!--End box news-->
        </section>
        <!--END SECTION-->
      </div>
    </div>
    <!--end code-->
  </div>
</div>
