<app-navbar (sideEvent)="start.toggle()"></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #start
    class="mat-elevation-z4 sidenav"
    fixedTopGap="64"
    [autoFocus]="false"
    fixedInViewport="true"
    style="width: 240px"
    position="end"
  >
    <mat-list dense>
      <ng-container *ngFor="let nav of navList">
        <mat-expansion-panel
          style="background-color: transparent"
          class="mat-elevation-z0"
          hideToggle="true"
          [expanded]="nav.dropDown"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon style="color: white">{{
                nav.icon
              }}</mat-icon>
              <span
                class="nav-list-item"
                style="margin-left: 10px; color: white"
                >{{ nav.categoryName }}</span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div style="margin-top: -20px">
              <ng-container *ngFor="let subCategory of nav.subCategory">
                <ng-container *ngIf="subCategory.visable">
                  <!--Sub category list-->
                  <mat-list-item
                    (click)="mode === 'over' ? start.close() : null"
                    routerLinkActive="mat-icon-active"
                    style="margin-left: -70px; margin-right: -24px"
                  >
                    <a
                      mat-list-item
                      [routerLink]="subCategory.subCategoryLink"
                      mat-line
                      style="margin-left: 30px"
                    >
                      <mat-icon
                        class="sidenav-icon"
                        style="margin-left: 18px"
                        >{{ subCategory.subCategoryQuery }}</mat-icon
                      >
                      <span style="margin-left: 3px; color: white">{{
                        subCategory.subCategoryName
                      }}</span>
                    </a>
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin: 10px">
      <div class="mt-3 mb-3">
        <div class="pt-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- <app-pie-pagina></app-pie-pagina> -->
  </mat-sidenav-content>
</mat-sidenav-container>
